---
title: Fall Men's Retreat
keywords: guys getaway, men&apos;s camp, weekend, mens retreat
description: Join fellow brothers in Christ at this retreat.  Register online, read about this year&apos;s speaker and view prices and event times.

name: Fall Men's Retreat
---

{% block MainText %}

{{ macros.render_prog_info() }}

<p>A retreat for men who may wonder how to engage the stirrings and wonderings of being a person made in God&apos;s image and how that awareness affects the way they live out life in family, work and faith commitments.  Together we will remember stories, ask questions, listen deeply and engage in different practices that will assist us on the journey.  The hope is that at this retreat you may discover some new ways to live each moment fully alive.  You may be surprised that you already engage in spiritual practices.<br></p>

<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" />
<h4 class="subhr" style="margin-bottom:5px">Speaker: Bill Kees</h4>
 <p><img src="/images/Photos/Retreat Speakers/billandcarolyn.jpg" width="135" height="159" style="float: left; padding-right: 10px; padding-bottom:5px;"> Bill is retired and living in Chico, California with his wife Carolyn. They are members at Faith Lutheran Church. They have 2 children and 7 grandchildren. Their journey in the past 15 years has been filled with many opportunities to walk with men, women and youth as they live in this life as children of God. Both Bill and Carolyn are Spiritual Directors and have a practice in Chico and are affiliated with Bread of Life in Sacramento. It is a blessing to journey with people who are graced by love as they are opened to God in everything that happens.</p>
  
<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" />
<h4 class="subhr" style="margin-bottom:5px"> Musicians: Tim Crabe</h4>
<p><img src="/images/Photos/Musicians/Tim_Crabe.jpg" width="135" height="162" style="float: right; padding-left: 10px; padding-bottom:5px;">Tyler Crabe is a fourth-year M.Div student at Pacific Lutheran Theological Seminary (PLTS). He's from Castro Valley, CA, where he grew up singing in several choirs and musicals at both church and school. He graduated from Pacific Lutheran University in Tacoma, WA in 2009 with a bachelor of musical arts. When he isn't preaching or studying theology, you can usually find Tyler trying a new recipe in the kitchen, lost in a book, or wandering God's creation.</p><br>


<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" /> 

<h4>Registration Information: </h4>
<p align="left"><a href="/Documents/Retreats/Mens Retreat/Reg Help Mens Retreat 2013.pdf">Click on the image below to get registration instructions!<img src="/images/Photos/Men's Retreat/Reg Help Mens Retreat 2013.jpg" alt="reghelp" width="553" height="732" hspace="5" vspace="5" border="1px"></a></p>

 <h4>Weekend Activities</h4>
 <ul class="formatted2">
   <li>    Bible Studies    </li>
  <li>    Breakout sessions    </li>
  <li> Work Project </li>
  <li>    Basketball, Volleyball, Horseshoes <br></li>
  <li>    Hiking    </li>
  <li>    Mt.   Cross Trading Post    </li>
  <li>    Climbing tower (health forms and assumption of   risk required)    </li>
  <li>    Archery (health forms and assumption of   risk required)    </li>
</ul>
 
{% endblock %}


{% block SidebarTitle %}Schedule{%endblock%}
{% block SidebarText %}
    <p align="left"><strong>Friday</strong> <br>
      7:00pm Check-in<br>
      8:00pm Campfire/Devotions<br>
      9:00pm Fellowship </p>
   
    <div align="left">
     <p align="left"><strong>Saturday</strong><br> 
  8:00am Breakfast <br>
  8:30am Check-in <br>
      9:00am Session #1<br>
      10:00am Coffee Break<br>
      10:30am Break out session<br>
      12:00pm Lunch<br>
      1:00pm Session #2 <br>
      2:30pm Work Projects<br>
        4:30pm Possible Activities<br>
        6:00pm Day Participants Depart
        6:15pm Appetizers <br>
        7:15pm Dinner<br>
        8:30pm Campfire<br>
        
      </p>
      </div>
<div align="left">
       <p align="left"> <strong>Sunday</strong><br>
        8:30am Worship<br>
        9:45am Brunch<br>
        11:00am Depart</p>
        
        <br>
        <h3 align="center">ONLINE REGISTRATION</h3>
   <p align="center">{{register_button}}</p>
 <ul class="formatted">
   <li>Regular Registration (Postmarked AFTER July 15, 2013)  $135     </li>
   <li>Saturday Only w/o dinner $80</li>
   <li>Saturday with Appetizers and Dinner $95</li>
 </ul><br>
   <p>Registration is on a first-come-first-serve bases for lodging and accommodations. Early accommodations will include staying in one of our two Lodge facilities and include linens and towel. 
    <br><br> Once our Lodges are full, we will start housing in our dorm style cabins. You will need to bring a sleeping bag, pillow, and towel of your own in those facilities.      
   </p>
</div>
{%endblock%}