---
title: Fall Women's  Retreat
keywords: girls getaway, women&apos;s camp, weekend
description: Join fellow sisters in Christ at this retreat.  Register online, read about this year&apos;s speaker and view prices and event times.

name: Fall Women's Retreat
---

{% block MainText %}
{{ macros.render_prog_info() }}

<p><img src="/images/Banners/Womens Retreat 2012.jpg" alt="" name="Womens Retreat Ladies" width="322" height="189" hspace="10" vspace="10" border="3" align="left"></p>
<p> Come away for a   weekend with your fellow sisters in Christ. Mt. Cross is hosting its    annual Fall Women's Retreat. We will also spend time singing, laughing   and enjoying being   women of God. Come for the weekend and be renewed as a woman of God.</p>
<h3><strong>Theme: </strong></h3>

<p align="center"><img src="/images/Photos/Women's Retreat/beautiful savior.jpg" width="406" height="91"></p>

<p>Over the weekend we will explore together biblical, historical, and cultural understandings of beauty.  We will seek to look beyond our culture's narrow definition of beauty as a physical attribute, explore the concept of what it means to be created in God's image, and ask ourselves what it really means to call our savior beautiful. </p>

<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" />

<h4>Speaker: Pastor Sarah Sumner-Eisenbraun<img src="/images/Photos/Retreat Speakers/pastor_sarah.jpg" width="113" height="157" border="3" align="right" vspace="5" hspace="5"></h4>
<p>Sarah Sumner-Eisenbraun currently serves as associate and campus pastor at Salem Lutheran Church and School in Glendale, CA.  Originally from Rapid City, SD, Sarah became a Lutheran in the spring of 2003 while attending St. Olaf College in Northfield, MN and began seminary just a few months later.  She specializes in Children, Youth, and Family Ministry, loves sewing, knitting, reading, and spending time with her husband Kevin and daughter Zoe.</p><br>
<hr style="width:100%; margin-top:0px; margin-bottom:0px;" />
<h4> Musician: Erin Armstrong<img src="/images/Photos/Women's Retreat/Musician_Erin_Armstrong.JPG" width="120" height="155" border="3" align="left" vspace="5" hspace="10"></h4>
<p>Erin Armstrong is a second year M.Div student at Pacific Lutheran Theological Seminary (PLTS). She's from Riverside, CA, where she grew up loving singing and church. She graduated from St. Olaf College in Northfield, MN in 2009. She is a veteran of outdoor ministry, having worked at El Camino Pines for six summers and two years. She currently serves as the Youth Director at First Lutheran Church in Palo Alto. She's excited to learn and sing and worship together!</p>

<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" /> 

<h4>Registration Information: </h4>
<p align="left"><a href="/Documents/Retreats/Womens Retreat/Registration help FWR 2013.pdf">Click on the image below to get registration instructions!<img src="/images/Photos/Women's Retreat/Registration help FWR 2013.jpg" alt="reghelp" width="553" height="732" hspace="5" vspace="5"></a></p>


 <h4>Weekend Activities:</h4>
 <ul class="formatted2">
    <li>Crafts</li>
    <li>Breakout sessions</li>
    <li>Masseuse<br></li>
    <li>Hiking</li>
    <li>Mt. Cross Trading Post</li>
    <li>Volleyball, horseshoes, basketball</li>
  <li>Climbing tower (health forms and assumption of risk required)</li>
</ul>
 
 <p>Campfire devotions and singing Friday &amp; Saturday nights, followed by plenty   of time for games and gabbing.
{% endblock %}


{% block SidebarTitle %}Tentative Schedule{%endblock%}
{% block SidebarText %}
    <h5 align="left">&quot;Already planning on coming to next year' retreat&quot; 
      <em>Anne Hess, Prince of Peace, Saratoga, after 2010 retreat</em></h5>
    <p align="left"><strong>Friday</strong> <br>
      7:00pm Check-in<br>
      8:00pm Campfire/Devotions<br>
      9:00pm&nbsp;Fellowship&nbsp; </p>
   
    <div align="left">
     <p align="left"><strong>Saturday</strong><br> 
  8:30am&nbsp;Breakfast <br>
  9:30am&nbsp;&nbsp;Check-in <br>
      10:00am Welcome <br>
      10:30am&nbsp;Prayer &amp; Praise/Speaker <br>
      12:30pm&nbsp;Lunch<br>
      1:30pm&nbsp;Breakout Sessions <br>
      3:30pm&nbsp;Activity Options - <br><a href="/about/tradingpost.html">Trading Post</a><br>
        5:00pm&nbsp;Prayer &amp; Praise/Speaker <br>
        6:30pm&nbsp;Dinner <br>
        7:45pm&nbsp;Campfire/Devotions<br>
        8:30pm Fellowship<br>
      </p>
    </div>
   
      <div align="left">
       <p align="left"> <strong>Sunday</strong><br>
        8:30am&nbsp;Breakfast<br>
        9:30am&nbsp; Devotions<br>
        10:00am&nbsp;Depart</p>
        <h5><i>"Thanks so much for a wonderful weekend at the Women's Retreat at Mt. Cross!  The food and service was out of this world!  The best I've EVER had at any retreat!!!" Jan Sorge, Mt. Cross Board Member 2012</i></em><br />
    </h5>
    <a href="http://www.facebook.com/mtcrossministries?ref=hl">Check Out the 2012 photos on Facebook!</a>
   <br><br><br><br><br><br>
   
   <h3 align="center">ONLINE REGISTRATION</h3>
   <p align="center">{{register_button}}</p>
    
 {{ macros.render_prog_pricing() }}
 
 <br><br>
 <p><a href="/Documents/Retreats/Womens Retreat/2013 general flyer.pdf">Download the 2013 Women's Retreat Flyer<br>
 <img src="/images/Photos/Women's Retreat/2013 general flyer.jpg" height="250" width="197" vspace="5" hspace="5" border="3"></a></p>
    </div>
{%endblock%}