/*1349949613,173213725*/

.sp_bsr2m2{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y_/x/C6tCQodDJVC.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_c8bf06{background-position:-0px -0px}
.sx_243a1d{background-position:-0px -17px}
.sx_2a176c{background-position:-0px -34px}
.sx_fb3f99{background-position:-0px -51px}

#bootloader_91msJ { height: 42px; }