---
extends: twoPaneBase.j2
title: Mt. Cross Ministries
keywords: northern california, camp, retreat, Christian camp, Christian retreat, retreat center, summer camp, summer, religion, Bible, Christian, religious, Lutheran, ELCA, LCMS, LOM, NLOMA
description: Located in the redwood forests of the Santa Cruz Mountains, Mt. Cross offers camp and retreat opportunities for all ages. Ropes Course, Swimming Pool, Athletic Field 831.336.5179
---

{% block MainText %}

{% include "galleryInsert.j2" %}

{%filter markdown -%}
Mt. Cross Ministries' main site is **[located][directions]** in the coastal redwood forest of the **Santa Cruz Mountains**, 20 minutes from the Santa Cruz **beaches**. Mt. Cross  offers **[summer camp][summerHome]** and **[retreat][yrrndHome]** opportunities for all ages. Most Mt. Cross directed camps are on the main site and many, like **[Day Camps][daycampHome]**, take place in communities all over northern California.

Churches, schools, clubs and other organizations use Mt. Cross as their **[group retreat][rentalsTips]** center by utilizing the Outdoor Conference Center (OCC). Mt. Cross provides **[facilities][facilitiesHome]**, meal service and program support (as desired) to  make your group's experience as successful as possible. Many groups take advantage of the **[Challenge Course][TIP]** and/or **[climbing tower][tower]**.

Established in 1948, Mt. Cross has a unique **[history][historyHome]** in Northern California.

[directions]: /about/directions.html
[summerHome]: /program/summer/summer_camp.html
[yrrndHome]: /retreats.html
[daycampHome]: /program/summer/day_camp.html
[rentalsTips]: /rentals/rentals_tips.html
[facilitiesHome]: /rentals/facilities.html
[TIP]: /CC.html
[tower]: /tower.html
[historyHome]: /about/history/page_1.html
{%- endfilter%}{%endblock%}

{% block HTMLheadExtended %}

   <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
   
   <!-- banner scripts -->
   <link rel="stylesheet" href="/smoothgallery/css/jd.gallery.css" type="text/css" media="screen" charset="utf-8" />
   <script src="/smoothgallery/scripts/mootools-1.2.1-core-yc.js" type="text/javascript"></script>
   <script src="/smoothgallery/scripts/mootools-1.2-more.js" type="text/javascript"></script>
   <script src="/smoothgallery/scripts/jd.gallery.js" type="text/javascript"></script>

{%endblock%}

{% block SidebarTitle %} Upcoming Events {%endblock%}
{% block SidebarText %}{% filter markdown -%}
**[Fall Women's Retreat][WomenRetreat]**  
September 20-22, 2013

**[Fall Men's Retreat][MenRetreat]**  
October 25-27, 2013

[WomenRetreat]: /program/retreats/adults_women.html
[MenRetreat]: /program/retreats/adults_men.html

{%- endfilter%}{% include "indexSocial.j2" %}{% filter markdown -%}

####Go here to see the Mt. Cross *[2012 Annual Report][annualReports]*

[annualReports]: /donations/annual_reports.html
{%- endfilter%}{%endblock%}

