<!-- Footer Logos -->
<div class="footerLinks">
   <table cellpadding="0" cellspacing="0">
   <tr>
   
      <!-- ELCA -->
      <td valign="middle">
         <a href="http://www.elca.org"><img src="/images/ELCAwtext.gif" alt="ELCA" width="175" height="55" style="border:0px;" /></a>
      </td>
      <!-- end ELCA -->
   
      <td>
         <img src="/images/spacer10.gif" alt="spacer" width="10" height="10" />
      </td>
      
      <!-- NLOMA -->
      <td valign="middle">
         <a href="http://www.nloma.org"><img src="/images/NLOMA.gif" alt="NLOMA" width="97" height="55" style="border:0px;" /></a>
      </td>
      <!-- end NLOMA -->
      
      <td>
         <img src="/images/spacer10.gif" alt="spacer" width="10" height="10" />
      </td>
      
      <!-- LCMS -->
      <td valign="middle">
         <a href="http://www.lcms.org">
            <img src="/images/LCMS-sm.gif" alt="Lutheran Logo" width="188" height="55" style="border:0px;" />
         </a>
      </td>
      <!-- end LCMS -->
      
      <td>
         <img src="/images/spacer10.gif" alt="spacer" width="10" height="10" />
      </td>
      
      <!-- LOM -->
      <td valign="middle">
         <a href="http://www.lomnetwork.org">
            <img src="/images/LOM-Logo4.jpg" alt="LOM Logo" width="83" height="55" style="border:0px;">
         </a>
      </td>
      <!-- end LOM -->
      
   </tr>
   </table>
</div>
<!-- end Footer Logos -->