<!-- Banner defined in CSS -->
<div class="headerbk1" onClick="javascript: window.location.href = 'http://www.mtcross.org';">
</div>

<!-- Navigation Bar -->
<div style="position:relative; height:34px; z-index:1005; background:#7D241A">

<nav class="navbar navbar-default menu" role="navigation" id="menu">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index.html">Home</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="/program/summer/summer_camp.html" class="dropdown-toggle" data-toggle="dropdown">Summer Camp <b class="caret" id="spec_caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="https://registration.campbrain.com/Portal/Login.aspx?H=MtCrossMinistries&G=883">REGISTER NOW</a></li>
          <li><a href="/program/summer/forms_2013.html">Forms/Packing List</a></li>
          <li><a href="/donations/campership.html">Scholarship Application</a></li>
          <li class="dropdown-submenu">
             <a tabindex="-1" href="/program/summer/summer_camp.html#SummerSchedule">Summer Schedule</a>
             <ul class="dropdown-menu">
                <li><a href="/program/summer/specialfriends.html">Special Friends</a></li>
                <li><a href="/program/summer/CIT_Program.html">Leadership (CIT)</a></li>
                <li><a href="/program/summer/adventures.html">Adventures on the Coast</a></li>
                <li><a href="/program/summer/servants.html">Servant Events</a></li>
                <li><a href="/program/summer/shalom.html">SHALOM Camp</a></li>
             </ul>
          </li>
          <li class="dropdown-submenu">
             <a tabindex="-1" href="/program/summer/day_camp.html">Day Camp</a>
             <ul class="dropdown-menu">
               <li><a href="/program/summer/day_camp_schedule.html">2014 Calendar</a>
					<li><a href="/program/summer/day_camp_resources.html">Resources</a></li>
             </ul>
          </li>
          <li class="dropdown-submenu"><a href="#">Adult Volunteers</a>
				<ul class="dropdown-menu">
					<li><a href="/program/summer/pastor_in_residence.html" class="topline">Summer Pastor</a></li>
					<li><a href="/program/summer/nurse.html">Summer Camp Nurse</a></li>
				</ul>
			</li>
        </ul>
      </li>
      <li class="dropdown"><a href="/retreats.html" class="dropdown-toggle" data-toggle="dropdown">Year Round Programs<b class="caret" id="spec_caret"></b></a>
		   <ul class="dropdown-menu">
   			<li><a href="/program/education_fall.html">Fall Outdoor School</a></li>
   			<li class="dropdown-submenu"><a tabindex="-1" href="/program/retreats/jrhigh.html">Jr. High Retreats</a>
   				<ul class="dropdown-menu">
   					<li><a href="/program/retreats/jrhigh_JAM.html">JAM</a></li>
   					<li><a href="/program/retreats/jrhigh_EoY.html">[EoY] End of the Year</a></li>
   				</ul>
            </li>
		   </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Summer Camp 2<b class="caret" id="spec_caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
           <li><a href="#">Action</a></li>
           <li><a href="#">Another action</a></li>
           <li><a href="#">Something else here</a></li>
           <li class="divider"></li>
           <li class="dropdown-submenu">
             <a tabindex="-1" href="#">More options</a>
             <ul class="dropdown-menu">
               <li><a tabindex="-1" href="#">Second level</a></li>
               <li class="dropdown-submenu">
                 <a href="#">More..</a>
                 <ul class="dropdown-menu">
                 	<li><a href="#">3rd level</a></li>
                 	<li><a href="#">3rd level</a></li>
                 </ul>
               </li>
               <li><a href="#">Second level</a></li>
               <li><a href="#">Second level</a></li>
             </ul>
           </li>
         </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

</div>

<!-- Red wavy piece -->
<div class="headerbk2"></div>