{% block HTMLheadExtended %}   
   <!-- banner scripts -->
   <link rel="stylesheet" href="/scripts/smoothgallery/css/jd.gallery.css" type="text/css" media="screen" charset="utf-8" />
   <script src="/scripts/smoothgallery/scripts/mootools-1.2.1-core-yc.js" type="text/javascript"></script>
   <script src="/scripts/smoothgallery/scripts/mootools-1.2-more.js" type="text/javascript"></script>
   <script src="/scripts/smoothgallery/scripts/jd.gallery.js" type="text/javascript"></script>

{%endblock%}

{% for page in gallery.page %}

{% if (page.url == resource.relative_path) %}
<script type="text/javascript">
	function startGallery() {
		var myGallery = new gallery($('myGallery'), {
			timed: true,
			showCarousel: false,
			showInfopane: false,
		});
	}
	window.addEvent('domready', startGallery);
</script>
<div id="myGallery" onload="set_banner()">

{% for img in page.imgs %}
<div class="imageElement">
   <a href="{{img.link}}" class="open"></a>
   <img src="{{img.src}}" class="full">
</div>
{%endfor%}

</div>
<br>

{%endif%}
{%endfor%}
