<!-- Start of Woopra Code -->
<script type="text/javascript">
function woopraReady(tracker) { tracker.setDomain('mtcross.org'); tracker.setIdleTimeout(300000); tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title}); return false;}
(function() { var wsc = document.createElement('script'); wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js'; wsc.type = 'text/javascript'; wsc.async = true; var ssc = document.getElementsByTagName('script')[0]; ssc.parentNode.insertBefore(wsc, ssc);})();
</script>
<!-- End of Woopra Code -->

<!-- Start Google Analytics -->
<script type="text/javascript"> 
    var _gaq = _gaq || []; 
    _gaq.push(['_setAccount', 'UA-29796038-1']); _gaq.push(['_setDomainName', 'mtcross.org']); _gaq.push(['_trackPageview']); 
    (function() { 
        var ga = document.createElement('script'); 
        ga.type = 'text/javascript'; 
        ga.async = true; 
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- End Google Analytics -->

<!-- Page Specific Details -->
<title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
<meta name="keywords" content="{{ resource.meta.keywords }}">
<meta name="description" content="{{ resource.meta.description }}">
<link rel="icon" type="image/jpg" href="/images/Tree-logo.jpg">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- End Page Specific Details -->

<!-- CSS & scripts -->
<link rel="stylesheet" href="/CSS/menu.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/CSS/default.css" type="text/css" media="screen" />
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<script type="text/javascript" src="/scripts/TinyDropdown/script.js"></script>
<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>

<!-- End CSS & scripts -->