{# social links for home page #}

<!-- BEGIN: Constant Contact Square Email List Button -->
		<table width="200" border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td><img src="https://imgssl.constantcontact.com/ui/images/visitor/bevel_tl_green.gif" width="6" height="6" alt=""></td>
			<td background="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bg_top_green.gif"> </td>
			<td><img src="https://imgssl.constantcontact.com/ui/images/visitor/bevel_tr_green.gif" width="6" height="6" alt=""></td>
			</tr>
			<tr>
			<td background="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bg_left_green.gif" width="6"></td>
			<td bgcolor="#339900" align="center" style="padding:10px;"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=at6gcpbab&p=oi&m=1101091010144" target="_blank" style="text-decoration:none; font-weight: bold;  font-family:Arial; font-size:13px; color:#FFFFFF;" width="188">Receive  E-News Updates</a></td>
			<td background="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bg_right_green.gif" width="6"></td>
			</tr>
			<tr>
			<td background="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bg_left_black.gif"></td>
			<td bgcolor="#000000"align="right"><div  style="margin-top:2"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=at6gcpbab&p=oi&m=1101091010144" target="_blank" style="text-decoration:none; font-weight:bold;  font-family:Arial; font-size:10px; color:#ffffff;">&raquo; CLICK HERE</a></div></td>
			<td background="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bg_right_black.gif"></td>
			</tr>
			<tr>
			<td><img src="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bl_black.gif" width="6" height="6" alt=""></td>
			<td background="https://imgssl.constantcontact.com/ui/images/visitor/bevel_bg_bottom_black.gif"> </td>
			<td><img src="https://imgssl.constantcontact.com/ui/images/visitor/bevel_br_black.gif" width="6" height="6" alt=""></td>
			</tr>
		</table>
<!-- END: Constant Contact Square Email List Button -->
<!-- BEGIN: SafeSubscribe -->
		<img src="http://img.constantcontact.com/lp/images/standard/bv2/safe-subscribe.png" border="0" width="150" height="24" alt="" onclick="window.location='http://www.constantcontact.com/safesubscribe.jsp'">
<!-- END: SafeSubscribe -->
      <br>
      <p>
      <a href="http://www.youtube.com/user/mtcrossministries" TARGET="_blank"><img src="http://www.buttonshut.com/Youtube-Buttons/Youtube-Buttons-76-36-.png" title="Mt. Cross on YouTube" alt="YouTube" width="55px" border="0" hspace="15"/></a>
<!-- BEGIN: Facebook, Twitter, G+ icons -->
      <a href="http://www.facebook.com/pages/Mt-Cross-Ministries/103500611891?ref=ts" target="_blank"><img src="/images/facebook.png" alt="facebook" width="24" height="24" ></a><a href="http://twitter.com/MtCrossCA" target="_blank"><img src="/images/twitter.png" alt="twitter" width="24" height="24" hspace="20"></a><span hspace="15"><g:plusone annotation="none" align="center"></g:plusone></span>
<!-- END: Facebook, Twitter, G+ icons -->
	</p>