<!-- Contact Info -->
<div class="pageFooter"> 

<!-- Red Wavy piece -->
<img src="/images/footer_top.jpg" alt="footer" width="900" height="33" border="0" /><br />

<p class="foot">Mt. Cross Ministries &bull; PO Box 387 &bull; Felton CA 95018 &bull; 831.336.5179 &bull; <a href="mailto:mtcross@mtcross.org" style="color:white; text-decoration:none;">mtcross@mtcross.org</a></p>

</div>
<!-- end Contact Info -->