{% macro render_prog_info() %}
{% for item in yr_rnd.info %}{%for k, p in item %}
{% if (p.program == resource.meta.name) %}

<h1>{{p.program}}</h1>
<table width="497" border="0">
  <tr>
    <td width="314" height="60">
    <p>
    {% for text, date in p.dates %}
       {%if text == "weekend" %}
       <strong><em>The weekend of {{date}}</em></strong><br>
       {%endif%}
       {% if text == "saturday" %}
       <em>Saturday Only {{date}} 9:30am-6pm</em>
       {%endif%}
    {%endfor%}
    </p></td>
    <td width="173" valign="top">
       <h2 align="center" class="pink">Registration OPEN below!</h2> </td>
  </tr>
</table>
{% endif %}
{%endfor %}{%endfor%}

{% endmacro %}

{% macro render_prog_pricing() %}

{% for item in yr_rnd.info %}{%for k, p in item %}
{% if (p.program == resource.meta.name) %}
<ul class="formatted">
   {%for r_text, date in p.reg_dates %}
      {%if r_text == "early" %}
      {%for type, p_dict in p.prices %}
         {% if type == r_text %}
         <li>EARLY Registration
         <ul class="formatted2">
         {% for text, price in p_dict %}
              <li>{{text}}: {{price}}</li>
         {%endfor%}
         </ul>
         </li>
         {%endif%}
      {%endfor%}
      {%elif r_text == "general" or r_text == "regular" %}
      {%for type, p_dict in p.prices %}
         {% if type == r_text %}
         <li>Regular Registration (Postmarked ON or AFTER {{date}})
         <ul class="formatted2">
         {% for text, price in p_dict %}
              <li>{{text}}: {{price}}</li>
         {%endfor%}
         </ul>
         </li>
         {%endif%}
      {%endfor%}
      {%elif r_text == "late"%}
      {%for type, p_dict in p.prices %}
         {% if type == r_text %}
         <li>LATE Registration (Postmarked ON or AFTER {{date}})
         <ul class="formatted2">
         {% for text, price in p_dict %}
              <li>{{text}}: {{price}}</li>
         {%endfor%}
         </ul>
         </li>
         {%endif%}
      {%endfor%}
      {% endif%}
   {%endfor%}
   <br>
     <p>Registration is on a first-come-first-serve bases for lodging and accommodations. Early accommodations will include staying in one of our two Lodge facilities and include linens and a towel. <br><br>

Once our Lodges are full, we will start housing in our dorm style cabins. You will need to bring a sleeping bag, pillow, and towel of your own in those facilities.
     
   </p>
</ul>
 
{%endif%}
{%endfor%}{%endfor%}

{%endmacro%}

{% macro render_camp_info() %}

{% for camp in summer.camp_names %}
{%if (camp.info.name == resource.meta.name) or (camp.info.name == resource.meta.title) %}

<table width="537" border="0">
  <tr>
   <td width="375"><h1>{{camp.info.name}}</h1></td>
   <td width="152" align="right">
      {{register_button}} 
   </td>
  </tr>
</table>

{% filter markdown %}
{% if camp.info.grade and camp.subheader%}
**_ {{camp.info.subheader}}    
Youth Grades {{camp.info.grade.g}}_**
{% elif camp.info.subheader %}
**_{{camp.info.subheader}}_**
{% elif camp.info.grade %}
**_Youth Grades {{camp.info.grade.g}}_**
{%endif%}
{%endfilter%}

{%if camp.info.img %}
<img src="{{camp.info.img.url}}" name="{{camp.info.name}}" width="{{camp.info.img.width}}" height="{{camp.info.img.height}}" hspace="{{camp.info.img.hspace}}" vspace="{{camp.info.img.vspace}}" border="{{camp.info.img.border}}" align="{{camp.info.img.align}}">
{%endif%}

<p>
{%for no, week in camp.info.weeks %}
{% if camp.info.price %}
<b><em>{{camp.info.name}}  {{no}}: {{week.date}} - {{camp.info.price}}</em></b><br>
{% elif camp.info.prices %}
{% for p_no, price in camp.info.prices %}
{% if no == p_no %}
<b><em>{{camp.info.name}}  {{no}}: {{week.date}} - {{price}}</em></b><br>
{%endif%}
{%endfor%}
{%endif%}

{%endfor%}
</p>

{%endif%}
{%endfor%} {# ends for camp in summer.camp_names #}

{% endmacro %}


{% macro create_summer_calendar() %}
<table id="summer_sched">
   <tr>
      <th></th>
      {% for g in summer.ages %}
         {% if g.grades.text != "all" %}
            <th colspan="{{g.grades.cols}}"><p>{{g.grades.text}} Graders</p></th>
         {% endif %}
      {%endfor%}
   </tr>
   {% for w in summer.dates %}{% with w_info = w.week %} {# loop through rows #}
      {% if w_info.type != "special" %}
      <tr {% if w_info.type != "week" %} class="wknd" {%endif%}>
         <td class="date"><p>{{w_info.short_name|capitalize}}<br>{{w_info.date}}</p></td>
         
         {% for g in summer.ages %} {% with g_info = g.grades %}{# loop through columns #}
            {#######################}
            {% if g_info.index == 1 %}
               <td id="{{g_info.index}}_{{w_info.start}}">
               {% for c in summer.camp_names %}{% with camp = c.info %}
                  {% for no, wk in camp.weeks %}
                     {% if w_info.start == wk.start and camp.grade.text == "all" %}
                        <p><a href="{{camp.url}}" >{{camp.name}} {{no}}</a></p>
                        <script>
                           $("#{{g_info.index}}_{{w_info.start}}").attr('colspan', 3);
                        </script>
                     {% elif w_info.start == wk.start and camp.grade.text == g_info.text %}
                        <p><a href="{{camp.url}}" >{{camp.name}} {{no}}</a></p>
                     {%endif%}
                  {%endfor%}
               {% endwith %}{%endfor%}
               </td>
            {#######################}
            {% elif g_info.index == 4 %}
               {% for c in summer.camp_names %}{% with camp = c.info %}
                  {% if camp.grade.text == g_info.text and camp.name == "CIT"%}
                     {% for no, wk in camp.weeks %}
                        {% if w_info.start == wk.start %}
                        <td id="{{g_info.index}}_{{w_info.start}}_{{camp.name}}" class="{{camp.name}}">
                           <p><a href="{{camp.url}}" >{{camp.name}} {{no}}</a></p>
                           <script>
                              $("#{{g_info.index}}_{{w_info.start}}_{{camp.name}}").attr('rowspan', {{camp.duration}});
                           </script>
                        </td>
                        <td id="{{g_info.index}}_{{w_info.start}}_{{camp.name_2}}" class="{{camp.name_2}}">
                           <p><a href="{{camp.url}}" >{{camp.name_2}} {{no}}</a></p>
                           <script>
                              $("#{{g_info.index}}_{{w_info.start}}_{{camp.name_2}}").attr('rowspan', {{camp.duration}});
                           </script>
                        </td>
                        <td id="{{g_info.index}}_{{w_info.start}}_{{camp.name_3}}" class="{{camp.name_3}}">
                           <p><a href="{{camp.url}}" >{{camp.name_3}} {{no}}</a></p>
                           <script>
                              $("#{{g_info.index}}_{{w_info.start}}_{{camp.name_3}}").attr('rowspan', {{camp.duration}});
                           </script>
                        </td>
                        {% endif %}
                     {%endfor%}
                  {%endif%}
               {% endwith%}{%endfor%}
            {#######################}
            {% elif g_info.text != "all" and w_info.type != "weekend"%}
            <td id="{{g_info.index}}_{{w_info.start}}">
               {% for c in summer.camp_names %}{% with camp = c.info %}
                  {% if camp.grade.text == g_info.text %}
                     {% for no, wk in camp.weeks %}
                        {%if w_info.start == wk.start and camp.grade.text != "all"%}
                           <p><a href="{{camp.url}}" >{{camp.name}} {{no}}</a></p>
                        {%endif%}
                     {%endfor%}
                  {%endif%}
               {% endwith %}{%endfor%}
            </td>
            {% endif %}
         
         {% endwith %}{%endfor%}
      </tr>
      {% endif %} {# ends if w.week.type != "special" #}
   {%endwith%}{% endfor %} {# ends for w in summer.dates #}
</table>
<script> 
   $("#summer_sched tr td").toggleClass(function(){
      if ($(this).children().is("p")){
         return "";
      }
      else{
         return "empty";
      }
      
   });
</script>
{% endmacro %}


