/*1349677031,173213485*/

.desktop-messages-promo{background:#fefae2;border-bottom:dashed 1px #ded8af;font-size:11px;height:34px;margin:-15px -20px 18px -20px;padding:6px 4px 13px 4px;vertical-align:middle}
.desktop-messages-promo .install-button{padding:2px 5px 3px 5px}
.desktop-messages-promo .promo-close-button{padding:4px 5px 4px 5px}
.desktop-messages-promo .buttons-div{width:139px;margin:8px 0 0 0}
.desktop-messages-promo .install-button-div{display:inline;margin:0 9px 0 10px}
.desktop-messages-promo .close-button-div{display:inline}
.desktop-messages-promo .promo-text{font-size:13px;padding:13px 15px 15px 15px}
.MessagingSearchTypeahead{width:240px}
.MessagingSearchTypeahead .details{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#MessagingSearch .MessagingSearchFilter{border-color:#6484b4 #899bc1 #899bc1}
#MessagingSearch .MessagingSearchFilter .uiSelectorButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y3/x/Uy0S-JwLSOj.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -196px}
#MessagingSearch .MessagingSearchFilter .uiSelectorButton:active, #MessagingSearch .MessagingSearchFilter .openToggler .uiSelectorButton{background-image:none}
#MessagingSearch #MessagingQuery{border-top:1px solid #ededed;padding-left:6px;padding-top:2px}
#MessagingInviteFriends{line-height:20px;margin-left:3px;position:absolute}
.MessagingSecondaryHeader a{color:#3b5998 !important}
.MessagingExitViewButton{bottom:1px;padding-bottom:3px;position:relative}
#MessagingThreadlist{min-height:525px}
.MessagingEmptyMessages{border:solid #e9e9e9;border-width:1px 0;color:#ccc;font-size:22px;font-weight:bold;margin:0;padding:218px 0 280px;text-align:center}
.ArchiveCallout{top:-40px;left:-400px;background-position:385px 34px;width:400px}
.ArchiveCallout h3{margin:0 0 10px}
#MessagingArchiveCallout .archiveLink{display:inline-block}
#MessagingThreadlist .threadRow{border-top-width:1px}
.threadRow .authorsWrapper{max-width:500px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.threadRow .authors{font-size:13px}
.threadRow .threadLink:hover{text-decoration:none}
.threadRow .threadLink:hover .authors{text-decoration:underline}
.threadRow .content{line-height:16px;padding-top:8px}
.threadRow .timestamp, .threadRow .mutualFriends{color:#aaa}
.threadRow .emote_img{margin-bottom:-4px}
.threadRow .unarchiveLink .uiCloseButton{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yr/x/ij5EGgoOSQ3.png) right top}
.threadRow .unarchiveLink .uiCloseButton:hover{background-position:left top}
.threadRow .right{padding-top:18px}
.threadRow .draft{padding-right:12px;vertical-align:top;color:#a2b2cf;font-weight:normal}
.threadRow.unread{background-color:#ebeef4}
.threadRow .unarchiveLink, .threadRow .markAsReadLink, .threadRow.archived .archiveLink, .threadRow.unread .markAsUnreadLink{display:none}
.threadRow .archiveLink, .threadRow .markAsUnreadLink, .threadRow.archived .unarchiveLink, .threadRow.unread .markAsReadLink{display:block}
.threadRow.unread, .threadRow.unread + .threadRow{border-color:#dce2ec;margin:0 -20px;padding:0 20px}
.threadRow.unread .snippet, .threadRow.unread .timestamp{color:#6d84b4}
.threadRow.unread .mutualFriends{color:#9c9c9c}
.threadRow .readState{vertical-align:middle}
.threadRow .markunread, .threadRow .markread{display:inline-block;height:11px;width:11px}
.threadRow .markunread{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y8/x/FTlBGoS7tSA.png);background-repeat:no-repeat;background-size:auto;background-position:-11px -38px}
.threadRow .markunread:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y8/x/FTlBGoS7tSA.png);background-repeat:no-repeat;background-size:auto;background-position:0 -38px}
.threadRow .markread{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y8/x/FTlBGoS7tSA.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -38px}
.threadRow .markread:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y8/x/FTlBGoS7tSA.png);background-repeat:no-repeat;background-size:auto;background-position:0 -38px}
.threadMainCol{width:1000px}
.threadRow.noDraft .draft{display:none}
#timeline_tab_content .timeline_page_inbox{padding-top:15px}
.timeline_page_inbox_bar{background-color:#e7ebf2;border-bottom:1px solid #c4cde0;height:20px;margin-top:-20px;width:851px;z-index:3}
.timeline_page_inbox #MessagingFrame{margin-bottom:15px;width:809px}
.timeline_page_inbox .threadRow .snippet{max-width:580px}
.timeline_page_inbox .MessagingReadHeader{width:809px}
.timeline_page_inbox #MessagingNetegoWrapper{padding-bottom:15px}
.timeline_page_inbox .MessagingReadViewMainContent, .timeline_page_inbox .MessagingContentBorder, .timeline_page_inbox #MessagingLoadingSpinner, .timeline_page_inbox .MessagingForwardedContent, .timeline_page_inbox #MessagingShelf{width:543px}
.timeline_page_inbox #MessagingInlineComposer{padding-left:0}
.timeline_page_inbox #MessagingScroller{margin-left:10px;width:533px}

#bootloader_n60bI { height: 42px; }