/*1349669072,173220391*/

.music_art_small{height:30px;width:30px}
.music_art_medium{height:50px;width:50px}
.music_art_large{height:90px;width:90px}
.music_art_huge{height:196px;width:196px}
.music_art_timeline_rhs{height:97px;width:97px}
.music_artwork{background-position:center center;background-repeat:no-repeat;display:block}
.art_border{position:relative}
.art_border:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.music_play_button{outline:none}
.button_anchor{display:inline-block}
.button_anchor .music_button_img{display:inline-block;width:14px;height:14px;background-repeat:no-repeat;vertical-align:middle}
.music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -251px}
.button_anchor:hover .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -266px}
.button_anchor:active .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -281px}
.music_playing .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -311px}
.music_playing .button_anchor:hover .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -326px}
.music_playing .button_anchor:active .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -341px}
.music_disabled .music_button_img, .music_disabled .button_anchor:active .music_button_img, .music_disabled .button_anchor:hover .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -296px}
.music_loading .button_anchor:active .music_button_img, .music_loading .button_anchor:hover .music_button_img, .music_loading .button_anchor .music_button_img{background-position:0 0;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y4/x/LxbLBWWUI55.gif)}
.artwork_button .button_anchor{display:block;position:relative;overflow:hidden}
.music_button_img_wrap{position:absolute;top:50%;left:50%}
.music_show_on_hover .music_button_img_wrap{opacity:0;-webkit-transition:opacity .10s ease-out}
.music_button_trigger_group .music_playing .music_button_img_wrap, .music_button_trigger_group .music_loading .music_button_img_wrap, .music_button_trigger_group.music_playing .music_button_img_wrap, .music_button_trigger_group.music_loading .music_button_img_wrap, .music_button_trigger_group:hover .music_button_img_wrap{opacity:1;-webkit-transition-duration:0}
.artwork_button .music_button_img_wrap .music_button_img{display:block;position:relative;margin-top:-50%;left:-50%}
.music_disabled.artwork_button .music_button_img_wrap .music_button_img, .artwork_button .music_button_img_wrap .music_loader{display:none}
.music_loading .artwork_button .music_button_img_wrap
.music_button_img.music_loader{margin-top:-100%;display:block}
.button_large.artwork_button .button_anchor .music_button_img{width:50px;height:50px}
.button_large.artwork_button .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.button_large.artwork_button .button_anchor:active .music_button_img, .button_large.artwork_button .button_anchor:hover .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -50px}
.music_playing .button_large.artwork_button .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -100px}
.music_playing .button_large.artwork_button .button_anchor:hover
.music_button_img, .music_playing .button_large.artwork_button .button_anchor:active
.music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -150px}
.music_loading .button_large.artwork_button .button_anchor:active
.music_button_img, .music_loading .button_large.artwork_button .button_anchor:hover
.music_button_img, .music_loading .button_large.artwork_button .music_button_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -200px}
.music_loading .button_large.artwork_button .music_button_img_wrap
.music_button_img.music_loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y1/x/BZSS7yGugLV.gif) 50% no-repeat}
.pages_play_button .button_anchor .music_button_img{vertical-align:top;margin-top:3px}
.pages_play_button{display:inline}
.music_song_item .track_title{color:#000}
.music_song_item .track_artists{display:inline}
.hidePlay .playButton{display:none}
.song_detailed{border-top:1px solid #e9e9e9;padding-top:5px;padding-bottom:5px}
.art_grid{position:relative;overflow:hidden}
.art_grid_inner .music_artwork{float:left}
.art_grid_inner{position:absolute;left:0;top:0;right:-4px;bottom:-4px}
.songListPager{position:relative}
.songListPager .loading{display:none}
.songListPagerOuter.async_saving .songListPager .loading{position:absolute;display:inline;left:100%;top:50%;margin:-5px 0 0 5px}
.timelineUnitContainer .videoUnit{background:#f2f2f2;margin-left:-12px;max-height:403px;min-height:227px;text-align:center;width:403px}
.fbTimelineOneColumn .videoUnit{max-height:475px;height:auto;width:843px}
.storyOnlyMe .videoUnit{border-top:3px solid #fff;margin-top:-3px}
.videoUnit a.videoThumb{display:block}
.videoUnit a.videoThumb img{display:block;margin:0 auto;max-height:403px;max-width:403px}
.videoUnit .swfObject{margin:0 auto}
.fbTimelineOneColumn .videoUnit a.videoThumb img{max-height:475px;max-width:843px}
.videoUnit a.videoThumb i{left:50%;margin:-13px 0 0 -17px;top:50%}
.sp_cxgfyg{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/3UDg9S9o6cU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:250px;width:50px}
.sx_10b99b{background-position:-0px -0px}
.sx_05ce6a{width:14px;height:104px;background-position:-0px -251px}
.featured_song .track_title{font-weight:bold;color:#333}
.featured_song_artists a{color:gray}
.featured_song_header{margin-bottom:2px}
.claimCouponDialogBody{padding:5px 10px}
.couponAttachmentBody{border:2px dashed #d8dfea}
.fbMainStreamAttachment .couponAttachmentBody{width:394px}
.couponAttachmentImage{height:86px;margin:3px 0 3px 3px;width:86px}
.couponAttachmentImageLink{margin:0}
.couponDescriptionDiv{margin:3px 3px 0 3px}
.couponActive .couponDescriptionCell:hover .couponTitle{color:inherit;text-decoration:underline}
.couponGetOffer{color:#3b5998}
.couponTitle{margin:3px 10px}
.couponSubtitle{margin:12px 10px 3px}
.couponSubtitle, .couponTitle{word-wrap:break-word;word-break:break-word;-webkit-hyphens:auto;hyphens:auto;overflow:hidden}
.couponInactiveTitle{font-weight:bold;color:#3b5998;font-size:11px}
.couponSubtitleFirstAction{color:#333}
.couponAtPageNameText{color:gray;font-weight:normal;text-overflow:ellipsis;overflow:hidden}
.couponPlainText{color:gray;font-size:11px}
.couponDescriptionCell{border:1px dotted #ccc;color:#000}
.couponInactive .couponDescriptionCell:hover{cursor:default}
.couponMoreInfoBody{color:gray;margin:0 10px}
.couponTickerDialog{border-bottom:1px solid #ccc}
.couponTickerDialog .couponAttachmentBody{border-width:0;padding-left:10px;margin:0}
.couponTickerDialog{margin:0 3px}
.couponTickerDialog .couponAttachmentImage{margin:0}
.couponTickerDialog .couponDescriptionDiv{margin:0 3px}
.couponTickerDialogArea .uiStreamAttachments{margin:8px 0 0 0}
.couponHide{display:none}
.couponTickerDialog .couponHide{display:inherit}
.couponMoreInfoContentTitle, .couponMoreInfoContentExpiration{color:#333;margin-right:10px}
.couponMoreInfoContentTC{color:gray;margin-right:10px;overflow:hidden;text-overflow:ellipsis;white-space:pre-wrap}
.couponAudienceSelector{color:gray}
.couponPostOfferText{padding:2px}
.fbTimelineOneColumn .couponUnit{font-size:15px;line-height:20px;padding-right:35px}
.importantFriend .importantFriendImage{display:inline-block;float:left;margin-right:1px}
.fbTimelineOneColumn .importantFriendImage{height:150px;width:150px}
.importantFriend .importantFriendSide{height:86px;overflow:hidden;padding-top:16px;position:relative}
.fbTimelineOneColumn .importantFriend .importantFriendSide{height:107px;padding-top:45px}
.importantFriend .importantFriendSide .importantFriendName{font-size:14px;font-weight:bold;max-height:52px;overflow:hidden}

#bootloader_zY7UM { height: 42px; }