/*1349686889,173213215*/

#ci_module_list{background-color:#fff}
#ci_module_list li.ci_module:hover{background-color:#edeff4;cursor:pointer}
#ci_module_list li.ci_module:hover a.expand_link{text-decoration:underline}
#ci_module_list li.ci_module.expanded{background-color:#edeff4;cursor:default}
#ci_module_list li.expanded .expand_link{display:none}
#ci_modules_hidden .ci_module:first-child{border-top-width:1px}
#wizard_step #ci_module_list, #wizard_step #ci_module_list li.ci_module.expanded, #wizard_step #ci_module_list li.ci_module.expanded:hover{background-color:#ededed}
#wizard_step #ci_module_list li.ci_module:hover{background-color:#fff}
#ci_module_list .ci_module{clear:both;padding-left:10px;padding-right:10px;border-color:#d8dfea}
#ci_module_list .ci_module .ci_module_header{direction:ltr;height:35px;line-height:35px;vertical-align:middle}
#ci_module_list .ci_module .expand_link{display:inline-block;margin-top:11px}
#ci_module_list .other_tools .ci_module_content{margin-left:42px;margin-right:42px}
#ci_module_list .other_tools .ci_module_content a{line-height:22px}
#ci_module_list .ci_module .contact_importer_widget .label{text-align:right;width:130px}
#ci_compact_list .ci_compact_icon_holder{background-repeat:no-repeat;background-position:center;height:40px;padding:5px 0 0 5px;width:40px}
#ci_compact_list .ci_compact_icon_holder:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yB/x/dyjIxuzzMJx.png);cursor:pointer}
#ci_compact_list .ci_compact_icon_holder.selected{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/CNhELnGRSSd.png)}
#ci_compact_list .ci_compact_icon{display:inline}
.ci_compact_module_header{border-top:solid 1px #d8dfea;margin-top:8px;padding:5px 0 2px 0}
#ci_compact_right{width:410px}
.home .findfriends #new_ff .box{width:255px}
.home .findfriends #new_ff .full{width:493px}
.home .findfriends #new_ff .box_row #webmail #address_book_login_widget{width:420px}
table.component_table{padding-left:5px;padding-top:5px}
table.component_table td.icons{width:20px;text-align:center;vertical-align:middle}
table.component_table td.content{white-space:nowrap;width:200px}
table.component_table td.phone_content{width:100px}
table.component_table td.actions{padding-left:10px;text-align:left;vertical-align:middle}
.mirror_security_level{padding-top:5px}
.mirror_security_level .mirror_help_link{padding-top:4px}
.mirror_interstitial .uiInterstitialBar .pts{padding-top:0}
.mirror_steps{margin:auto;width:555px}
.mirror_interstitial .uiButton{display:none}
.mirror_interstitial .mirror_wizard_submit{display:block}
.mirror_wizard_mode .mirror_wizard_submit{display:none}
.mirror_interstitial .mirror_wizard_next{display:none}
.mirror_show_email #mirror_wizard_next_email{display:block}
.mirror_show_phone #mirror_wizard_next_phone{display:block}
.mirror_show_secq #mirror_wizard_next_secq{display:block}
.no_js .mirror_show_email #mirror_wizard_next_email.mirror_wizard_next{display:none}
.no_js .mirror_show_phone #mirror_wizard_next_phone.mirror_wizard_next{display:none}
.no_js .mirror_show_secq #mirror_wizard_next_secq.mirror_wizard_next{display:none}
.no_js .mirror_wizard_submit{display:block}
.mirror_wizard_mode .mirror_section{display:none}
.mirror_wizard_mode .mirror_steplist{display:none}
.mirror_show_email #mirror_section_email{display:block}
.mirror_show_phone #mirror_section_phone{display:block}
.mirror_show_secq #mirror_section_secq{display:block}
.mirror_show_email #mirror_steplist_email{display:block}
.mirror_show_phone #mirror_steplist_phone{display:block}
.mirror_show_secq #mirror_steplist_secq{display:block}
.no_js .mirror_show_email #mirror_steplist_email{display:none}
.no_js .mirror_show_phone #mirror_steplist_phone{display:none}
.no_js .mirror_show_secq #mirror_steplist_secq{display:none}
.no_js .mirror_wizard_mode .mirror_section{display:block}
#mirror_info_summary_tbl td,
#mirror_info_summary_tbl td.label,
#mirror_info_summary_tbl th.label,
#mirror_info_summary_tbl #mirror_email_list{font-size:13px}
#mirror_info_summary_tbl #mirror_email_list{margin:0}
#mirror_change_name_section,
#mirror_change_name_section td,
#mirror_change_dob_section,
#mirror_change_dob_section td{font-size:13px}
.contact_importer_widget table.uiInfoTable.noLabel th.label{display:none}
.contact_importer_widget.ci_inputless .as_invite_optout{margin-left:0}
.ci_design_full .contact_importer_widget.ci_inputless .login_form{margin-left:45px}
._fm .large{position:relative}
._fm .large .megaphone_box{margin-bottom:-20px;margin-left:0;min-height:115px;overflow:hidden;padding-bottom:12px;padding-left:18px;padding-top:16px;width:761px}
._fm .rightOneRow{position:absolute;right:8px;top:-18px}
._fm .rightTwoRows{position:absolute;right:8px;top:-2px}
._fm .left{position:relative;width:380px;z-index:1}
._fm .content{margin-top:13px}
._fm .contentBorder{border-bottom:1px solid #e8eaf2;padding-bottom:12px}
._fm .buttonOnlyCI{padding-bottom:10px}
._fm .contact_importer_widget{margin-top:11px}
._fm .contact_importer_widget .ci_login, ._fm .contact_importer_widget .ci_password{width:230px}
._fm
.contact_importer_widget .ci_inputs_row{width:520px}
._fm
.contact_importer_widget .api .ci_inputs_row{width:auto}
._fm
.contact_importer_widget .ci_inputs_row .ci_login, ._fm
.contact_importer_widget .ci_inputs_row .ci_password{width:92%}
._fm
.contact_importer_widget .api .ci_inputs_row .ci_login{margin-right:7px;width:186px}
._fm
.contact_importer_widget .ci_submit_container{margin-top:2px}
._fm .contact_importer_widget .disclaimer{margin-top:10px}
._fm .contact_importer_widget
.ci_button_disclaimer_row{margin-top:2px}
._fm .contact_importer_widget
.ci_button_disclaimer_row .disclaimer{margin-top:2px}
._fm .megaphone_story .megaphone_hide_link{position:absolute;top:1px;right:1px;z-index:1}
#mobile_mirror_social_context{margin:auto;width:555px;padding-bottom:15px}
#mobile_mirror_facepile{float:left}
._e9{overflow:hidden}
.fbRequestList ._ea, .fbRequestList .hasFollowup{-webkit-transition-property:height, left, width;-webkit-transition-duration:.15s;-webkit-transition-timing-function:ease}
.fbJewelFlyout .fbRequestList li div._ea{position:absolute;top:0;left:100%;visibility:hidden}
.fbJewelFlyout .fbRequestList li.followupActivated
div._ea{position:relative;left:0;visibility:visible}
.fbRequestList .hasFollowup{position:relative;left:0;visibility:visible}
.fbRequestList .followupActivated .hasFollowup{position:absolute;left:-100%;visibility:hidden}
.sp_88yst8{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:31px;width:14px}
.sx_7c1fa0{background-position:-0px -208px}
.sx_7e2f4d{background-position:-0px -240px}
.sx_6bdf2e{background-position:-0px -272px}
.sx_5a33c4{width:3px;background-position:-18px -156px}
.sx_7344ea{background-position:-0px -304px}
.sx_57c866{width:7px;background-position:-10px -156px}
.sx_8ff92d{background-position:-0px -336px}
.sx_d6da0b{width:4px;height:51px;background-position:-0px -156px}
.sx_b0f515{width:4px;height:51px;background-position:-5px -156px}
.sx_90aab9{width:23px;height:51px;background-position:-0px -0px}
.sx_e92754{width:23px;height:51px;background-position:-0px -52px}
.sx_bf6c70{width:23px;height:51px;background-position:-0px -104px}
.uiQualityLevel{width:40px;padding-top:2px}
.uiQualityLevel .qualityBar .empty{border:solid #8d0d00;border-width:1px 0}
.weakQuality .qualityBar .fill{border:solid #8d0d00;background-color:#dc5857;border-width:1px 0 1px 1px}
.mediumQuality .qualityBar .fill{border:solid #af8506;background-color:#f7be21;border-width:1px 0 1px 1px}
.strongQuality .qualityBar .fill{border:solid #336421;background-color:#77bb4f;border-width:1px 0 1px 1px}
.strongQuality .qualityBar .full{border:1px solid #336421}
.uiStepList ol{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yr/x/e8iPvmYALrW.png);height:51px;list-style:none;margin:0;padding:0}
.uiStep{display:inline;list-style-type:none}
.uiStep .part{float:left;height:51px}
.uiStep .back{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -156px}
.uiStep .middle{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yr/x/e8iPvmYALrW.png)}
.uiStep .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-1px 0;width:21px}
.uiStep .title{margin-bottom:1px}
.uiStep .content{margin:11px 10px 0 10px}
.uiStepSelected .content{margin-left:5px}
.uiStepListSmallDescription .description{font-size:9px}
.uiStepFirst .back{width:3px}
.uiStepFirst .content{margin-left:15px}
.uiStepSelected .back{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-5px -156px}
.uiStepSelected .middle{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yn/x/MZW8R4cXlo9.png)}
.uiStepSelected .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -104px}
.uiStepNextSelected .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -52px}
.uiStepSelected .title, .uiStepSelected .description, .uiStepSelected a{color:#fff}
.uiStepSelected a:hover{text-decoration:none}
.uiStepListSingleLine ol{background:#edeff4;color:#3b5997;height:31px}
.uiStepListSingleLine .part{height:31px}
.uiStepListSingleLine .middle{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/x/lFahQXTaTNO.png) repeat-x}
.uiStepListSingleLine .back{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-10px -156px}
.uiStepListSingleLine .uiStep .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -336px;width:14px}
.uiStepListSingleLine .uiStepSelected .back{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -156px}
.uiStepListSingleLine .uiStepLast .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -208px}
.uiStepListSingleLine li.uiStepLastSelected .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -272px}
.uiStepListSingleLine .uiStepNextSelected .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -240px}
.uiStepListSingleLine .uiStepSelected .middle{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y-/x/9UNNaVu8SFB.png) repeat-x}
.uiStepListSingleLine .uiStepSelected .point{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yT/x/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -304px}
.uiStepListSingleLine .uiStep .content{margin:9px 8px 0}
.uiStepListSingleLineWhite ol{background:#fff}
#confirm_body{padding:5px}
#confirm_body #confirm_progress{text-align:center}
#confirm_body #confirm_status{margin:5px 0 10px}
#confirm_body #confirm_error{margin:0 0 10px}
#confirm_body #error,
#confirm_body #status{margin:10px 0}
#confirm_body .editor{margin:10px auto}
#confirm_body .instructions{padding-bottom:5px}
#confirm_body .instruction_details{padding-top:5px;margin-left:10px}
#confirm_body #confirm_intro{padding-bottom:10px}
#confirm_body #code,
#confirm_body #email{width:250px}
#confirm_body #confirm{margin-top:3px}
#confirm_body .help_links{margin-top:10px;font-size:9px}
#confirm_resend input{font-size:9px}
#confirm_email_container{margin-bottom:40px}
#confirm_email_container .confirm_message{padding:10px 40px;background-color:#fff}
#confirm_email_container .confirm_buttons{border-top:0}
#confirm_email_container .confirm_progress{text-align:center}
#confirm_email_container .confirm_help_box{margin-top:20px;padding:10px 40px}
#confirm_email_container .help_links_title{font-size:12px;font-weight:bold}
#confirm_email_container .help_question{margin-top:10px;font-weight:bold}
#confirm_email_container .cliff_email_text{margin-left:4px}
#confirm_email_container .contact_importer #befriend_selector,
#confirm_email_container .contact_importer #address_book_selector{margin:0 auto;width:520px}
#confirm_email_container .contact_importer .contact_importer_widget{margin:20px auto;border-top:0;width:520px}
._i{position:relative}
.uiContextualLayer ._k{position:absolute;top:0}
._i ._k{position:static;top:auto}
#welcome_dashboard li.step{border-bottom:1px solid #ccc;padding:16px 0 20px 0}
#welcome_dashboard li.last{border-bottom:0}
#welcome_dashboard .importer_form{margin-top:9px}
#welcome_dashboard .step_indicator{background:#8a9bc3;border:1px solid #627aad;color:#fff;display:inline;float:left;font-size:17px;text-align:center;width:24px;padding:1px 0;margin-left:20px}
#welcome_dashboard .active_step{background:#accd97;border-color:#74ac51}
#welcome_dashboard .welcome_task{float:left;overflow:hidden;padding-left:15px;width:425px}
#welcome_dashboard .welcome_task.welcomeTaskFriendRequests{overflow:visible}
#welcome_dashboard .welcome_task_classmates{float:left;overflow:visible;padding-left:15px;width:425px}
#welcome_dashboard .welcome_task_classmates li{padding:5px 0}
.pymk_more_link{text-align:right}
#welcome_dashboard .compact li{padding:2px 10px 2px 45px}
#welcome_dashboard .mobile_verification_done{margin-top:2px}
#welcome_dashboard #mobile_editor, #welcome_dashboard .welcome_description{padding:5px 0 5px 0}
#welcome_dashboard .NUXUploadPic{margin-top:10px}
#welcome_dashboard .NUXUploadPic div.divider span{background:#fff}
#welcome_dashboard #welcome_mobile_img{float:left;width:200px;margin-top:9px}
#welcome_dashboard .welcome_mobile{float:left;width:220px;margin:9px 19px 0 0}
#welcome_dashboard .welcome_badges{float:left;width:310px;margin:9px 25px 0 0}
#welcome_dashboard .welcome_task ul{margin-top:4px}
#welcome_dashboard .welcome_task.welcomeTaskImporter ul{margin:0}
#welcome_dashboard .welcome_task.welcomeTaskImporter #importer_frame #new_ff{min-height:0}
#welcome_dashboard .invite #footer_links, #welcome_dashboard .invite .sent_invites, #welcome_dashboard .invite #error_invites, #welcome_dashboard .invite #view_errors_msg{width:425px}
#welcome_dashboard .friend_grid ul{list-style-type:none;margin:0}
#welcome_dashboard .friend_grid li{padding:0}
#welcome_dashboard .friend_grid .friend_grid_col{width:173px}
#welcome_dashboard .editor td{padding-bottom:6px}
#welcome_dashboard .editor td.label label{padding-top:6px}
#welcome_dashboard .NUXUploadPic #profile_pic{border-top:1px solid #c3c3c3}
#welcome_dashboard .throbber{display:none}
#welcome_dashboard .async_saving .throbber{display:inline}
#welcome_dashboard #friend_requests .friend_request{margin-bottom:10px;padding:10px 0 0 0}
#welcome_dashboard #friend_requests .friend_request .thumbnail{float:left;margin-right:15px;width:50px}
#welcome_dashboard #friend_requests .friend_request .prompt{float:left;line-height:16px;width:350px}
#welcome_dashboard #friend_requests .friend_request .confirm_ignore_buttons{float:left;width:350px}
#welcome_dashboard #friend_requests .uiButton{margin:8px 10px 0 0;position:relative;top:-5px}
#welcome_dashboard .menuContainer{margin-right:45px;margin-top:-31px;z-index:2}
#welcome_dashboard .menuContainer .pulldown{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yN/x/qljXda-LgY9.png) #fff -1px 0;border:1px solid;border-bottom:none;height:31px;margin-bottom:-1px;width:24px}
#welcome_dashboard .menuContainer .itemSelected .itemLabel{color:#fff}
#welcome_dashboard .menuContainer .itemSelected{background-color:#6d84b4;border-color:#3b5998;outline:none}
#welcome_dashboard .menuContainer .menu{border:1px solid;border-bottom:2px solid;border-top:none;width:200px}
#welcome_dashboard .privacyItem{height:225px;background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/x/9LvsOkvrKgT.png)
no-repeat bottom right}
#welcome_dashboard .privacyItem .description{width:265px}
#welcome_dashboard .search_query .inputtext{float:left;line-height:14px;margin:0;padding:4px 3px 3px 3px}
.friendBrowserCheckboxFilters{width:200px;margin:0 auto;float:left}
.friendBrowserCheckboxFilterHeader{margin-bottom:3px}
.friendBrowserCheckboxFilterTypeahead{margin-top:3px}
.friendBrowserCheckboxFilterTypeahead .friendBrowserSearchInput{width:192px}
.friendBrowserCheckboxContent{width:493px;float:right;position:relative}
.friendBrowserCheckboxContentOnload{opacity:.3}
.friendBrowserSubTitle{margin-top:2px;margin-bottom:15px}
.friendBrowserHeader{margin-bottom:15px}
.friendBrowserPage{width:713px}
.friendBrowserPage label{color:#333;font-weight:normal}
.friendBrowserTypeahead .DOMControl_placeholder{color:#bbb}
.friendBrowsingCheckboxContentLoadingIndicator{position:absolute;z-index:1;top:90px;left:50%}
.friendBrowserGrid{width:100%}
.friendBrowserBlankState{position:relative;text-align:center;top:100px}
.friend_browser_page_name_box{min-height:65px;line-height:15px;text-align:left;width:100px}
.friend_browser_page_name_box.huger{min-height:0;padding-top:5px;margin-right:7px;width:112px}
.friend_browser_addfriend_icon{margin:4px 4px 0 0}
.friendBrowserRequesting .friendBrowserMutualFriendLink, .friendBrowserRequested .friendBrowserMutualFriendLink, .friendBrowserRequesting .friendBrowserSendingMessage, .friendBrowserRequested .friendBrowserUndoLink{display:none}
.friendBrowserRequesting .friendBrowserPicture, .friendBrowserRequested .friendBrowserPicture{opacity:.3}
.friendBrowserExtraSpacing{margin:3px 0}
.friendBrowserPhotoWrapper{height:75px;width:75px}
.friendBrowserPhotoCrop{background:#eee;height:75px;width:75px;overflow:hidden;position:absolute}
div.friendBrowserContentAlignMiddle{height:75px;vertical-align:middle !important}
.friendBrowserMarginTopTiny{margin-top:2px}
.friendBrowserMarginTopMini{margin-top:4px}
.friendBrowserAuxAlignMiddle{margin-top:26px}
.friendBrowserUnit .photoContainer{position:relative}
.friendBrowserUnit .closeButtonContainer{left:80px;position:absolute;top:3px;visibility:hidden}
.friendBrowserUnit .closeButtonContainer.huger{left:94px}
.friendBrowserPicture.huger{height:112px;width:112px}
.friendBrowserUnit .smallButton .closeButtonContainer{top:-3px}
.friendBrowserUnit .horizontalLayout .closeButtonContainer{left:172px}
.friendBrowserUnit:hover .discardable .closeButtonContainer, .friendBrowserUnit .discardable .closeButtonContainer.visibleClose{visibility:visible}
.gridUnitPlaceholder{width:110px}
.fbRequestList .async_saving{position:relative}
.fbRequestList .loadingIndicator{display:none;top:50%;left:50%;margin:-5px 0 0 -8px;position:absolute}
.fbRequestList .async_saving .loadingIndicator{display:block}
.fbRequestList .async_saving .addButtonWrapper, .fbRequestList .async_saving .uiButton{visibility:hidden}
div.fbRequestList .addButtonWrapper{display:inline-block;margin-right:5px;text-align:left}
.fbRequestList .addButtonWrapper .FriendListMenu li, #fbRequestsFlyout .addButtonWrapper .FriendListMenu li{overflow:hidden;padding:0;text-overflow:ellipsis;white-space:nowrap}
.fbRequestList .networkContextWrapper{margin:2px 0}
.fbRequestList div.requestStatusBlock{display:block;overflow:hidden;word-break:break-word}
._2tk{background-color:#e7ebf2}
._2tk #globalContainer{width:981px}
.sidebarMode ._2tk #globalContainer{padding-right:205px}
._30d{background-color:#fff;border-color:#c4cde0;-webkit-border-radius:3px;border-style:solid;border-width:1px 1px 2px}
._34e{font-size:14px;font-weight:bold}
._34f{font-size:11px;margin-top:3px}
._3-z{border-top:1px solid #e9e9e9;padding-top:10px;margin-top:10px}
._5cz{background-color:#fff;border:none}
#FriendRequestMorePager ._5cz:hover{background-color:#fff}
._2tk ._30d{margin-left:180px;width:514px}
._2tk ._30d .title{display:none}
._2tk ._5c4{display:none;top:50%;left:50%;margin:-5px 0 0 -8px;position:relative}
._2tk .async_saving ._5c4{display:inline}
._2tk .async_saving ._5c5{visibility:hidden}
.ruProfilePicXLarge{height:75px;width:75px}
.ruResponseSimple{padding-top:24px}
.uiProgressBar{background:#fff;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5}
.uiProgressBar .fill{background:#6d84b4;border:solid #3b5998;border-width:1px 0 1px 1px;color:#fff;height:20px;margin:-1px;overflow:hidden;position:relative}
.uiProgressBarSmall .fill{height:8px}
.uiProgressBar .full{border-right:solid 1px #3b5998}
.uiProgressBar .empty{border-width:1px 0}
.uiProgressBar .label{white-space:nowrap;line-height:20px;display:inline-block;padding-left:5px}
.uiProgressBar .labelBack{position:absolute}
.sp_d3g4fi{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/x/4S2ykwcGsBI.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:35px;width:35px}
.sx_eac48b{width:51px;height:49px;background-position:0 0}
.sx_b80f9a{background-position:0 -50px}
.sx_d12608{background-position:0 -86px}
.sx_c79982{background-position:0 -122px}
.sx_eca859{background-position:0 -158px}
.sx_cddcf5{background-position:0 -194px}
.sx_d4b946{background-position:0 -230px}
.sx_1ccaa6{background-position:0 -266px}
.sx_623f04{background-position:0 -302px}
.sx_0d24d9{background-position:0 -338px}
.sx_afbaa9{background-position:0 -374px}
.sx_7322eb{background-position:0 -410px}

#bootloader_G2TFK { height: 42px; }