---
title: Adventures on the Coast
keywords: service, surfing, hiking, leadership
description: West Coast Adventures includes Special Friends Servant-Adventures and Adventures on the Coast (service at camp and in the community or days full of adventure kayaking, surfing, and doing other fun things).

name: Connections
---

{% block MainText %}
<h1><strong>Adventures  on the Coast</strong></h1>
<form name="form1" method="post" action="">
  <div align="right"></div>
</form>
<p><strong><em>Adventure Camps</em></strong></p>

<p><strong><em><img src="/images/Photos/AoC Servant Events/2011 eXtreme.JPG" alt="sunset" width="205" height="131" hspace="10" vspace="10" border="3" align="left">Adventures on the Coast<br> 
  (Mt. Cross Servant Events)</em></strong><br>
  Summer 2013</p>
<p><em>Open to: Junior & Senior High</em></p>
<p><i> Adventures on the Coast</i> is a one week, customizable adventure experience that provides a chance for adventure, service, and spiritual growth. 
If you are looking for adventure then try surfing lessons, kayaking, a day hike, an overnight backpacking trip, or a day on our ropes course. If you are looking for a chance to serve, then we have several projects located at Mt. Cross or we can set you up with unique servant opportunities that benefit the local community. The great thing about this program that the choice is yours! Your group will also have the chance to enjoy daily Bible studies, morning worships and evening campfires, as well as group time to encourage processes for this great week.
</p>
<br>
<p><strong><a href="/Documents/Summer Registration/2013 AOC Information Packet.pdf">Adventures on the Coast Planning Guide</a></strong></p>


<br>

<object id="vp1GfHMs" border="3" width="432" height="240" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
  <param name="movie" value="http://static.animoto.com/swf/w.swf?w=swf/vp1&e=1330386424&f=GfHMsUXHX3BEAZPV7rxVjQ&d=244&m=p&r=240p+480p&volume=100&start_res=480p&i=m&options=">
  <param name="allowFullScreen" value="true">
  <param name="allowscriptaccess" value="always">
  <embed id="vp1GfHMs" src="http://static.animoto.com/swf/w.swf?w=swf/vp1&e=1330386424&f=GfHMsUXHX3BEAZPV7rxVjQ&d=244&m=p&r=240p+480p&volume=100&start_res=480p&i=m&options=" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="432" height="240"></embed>
</object>
<br><br>

{% include "socialShare.j2" %}

<h4 align="center"><a href="/program/summer/summer_camp.html#SummerSchedule">Return to Summer Schedule</a></h4>

<h4 align="center"><a href="/program/summer/servants.html">Go to Servants on the Coast & Special Friends Servant pages</a></h4>

{%endblock%}



{% block SidebarTitle %}Adventure{%endblock%}
{% block SidebarText %}
   <p align="left"><strong>Adventure</strong> - \&#601;d-&#712;ven-ch&#601;r\<em> noun</em></p>
   <p align="left">Etymology: Middle English <em>aventure,</em> chance,   risk, from Anglo-French, from Vulgar Latin <em>*adventura,</em> from   Latin <em>adventus,</em> past participle of <em>advenire</em> to     arrive, from <em>ad-</em> + <em>venire</em> to come</p>
  <p align="left"> <strong>1 a</strong> <strong>:</strong> an   undertaking usually involving danger and unknown risks <strong>b</strong> <strong>:</strong> the encountering of risks &lt;the   spirit of   adventure&gt;<br>
    <strong>2</strong> <strong>:</strong> an exciting or remarkable   experience &lt;an adventure   in exotic dining&gt;</p>
  <p align="left">(Source: Merriam-Webster's Online Dictionary)</p>
  <p align="center"><img src="/images/Photos/Beach/StaffSurf.JPG" border="3" height="200" width="150"alt="surfing"></p>

   <h2 align="center">Ignite</h2>
   <h2 align="center">Equip</h2>
   <h2 align="center">Engage</h2>
{%endblock%}
