---
title: Counselor in Training (CIT)
keywords: high school, counselor, 2 week, 3 week, leadership program
description: Counselor-in-Training stay for a 2 or 3 week session.  The first week is spent training and shadowing a counselor; the second/third week is spent supporting a counselor with campers.  The CIT Team also supports kitchen staff and other behind-the-scenes support for a well rounded training.

name: Counselor in Training (CIT)
---

{% block MainText %}
<table width="537" border="0">
  <tr>
    <td width="350"><h1>Counselor-in-Training</h1></td>
    <td width="177" align="right">
    
       <button onClick=
    "window.open('https://registration.campbrain.com/Portal/Login.aspx?H=MtCrossMinistries&G=883')">
    Register Online Now</button> 
    
    <p class="boldh4"><a href="/Documents/Summer Registration/2013 CIT Application.pdf">Click Here to Apply**</a></p>
    </td>
  </tr>
</table>

<p><em><strong>Leadership Camps for High School Youth</a></strong></em><strong><img src="/images/Photos/Staff - Seasonal/2012CIT.JPG" width="173" height="110" hspace="5" vspace="5" border="3" align="right"></strong></p>
<p><strong><em><u>CIT - 1st yr, 2  wks $370</u></em></strong><br><strong>CIT 3: June 30th - July 12th, 2013<br>
  CIT 5:  July 14th - July 26th, 2013</strong><br>
	  </p>
	<p><strong><em><u>Advanced CIT (aCIT) - 2nd yr, 2 or 3 wks $370</u></em><br>
		aCIT 3 (2 wks): June 30th - July 12th, 2013<br>
		aCIT 5 (3 wks): July 14th - August 2nd, 2013</strong></p>
	<p><strong><em><u>Junior Counselor - 3rd yr, 4 wks - No Fee</u></em><br>
		JC 3: June 30th - July 26th, 2013<br>
		</strong></p>

<div align="center"></div>
<p align="left">Leadership comes through experience. Christian leadership comes through experience in serving people and helping them to know Jesus through a life lived out in community together.<img src="/images/Photos/Campfires/2012campfire.JPG" alt="CIT" hspace="5" vspace="5" align="left" border="3"></p>
<p align="left">CITs will learn through skill training, <a href="/ChallengeCourse.html" target="_blank"> Challenge Course</a>, hands on experience with behind the scenes work and time with campers.</p>
<p align="left"><em>**Please contact Katie, Program Director, with any questions: (831) 336-5179 ex. 12 OR <a href="mailto:program@mtcross.org">email.</a> Applications with full registration due by April 15th, 2013. <strong>Applicants MUST fill out the camper registration AS WELL AS the application</strong> Applications submitted after May 1st will be reviewed if space is available.<br>
    <a href="/Documents/Summer Registration/2013 CIT Application.pdf"> Click here for the application!</a></em> </p>
    
{% include "socialShare.j2" %}

<h4 align="center"><a href="/program/summer/summer_camp.html#SummerSchedule">Return to Summer Schedule</a></h4>
{%endblock%}



{% block SidebarTitle %}Schedule<{%endblock%}
{% block SidebarText %}
    <p align="left"><strong>Week One</strong><em><strong><br>
      </strong></em>-CIT Week 1 is spent training with a Mt. Cross staff member walking you through the skills needed to be a counselor and a leader.</p>
    <p align="left"> <strong>Week Two</strong><em><strong><br>
      </strong></em>-CIT Week 2 is spent in a cabin working alongside a Mt. Cross counselor putting all you learned the previous week into action.</p>
    <p align="center">* * * * * * * </p>
    <p align="left"><strong>Advanced CITs (aCIT)</strong> spend the entire 2-3 weeks with campers, reviewing some CIT training sessions as agreed upon with CIT Coordinator.</p>
    <p align="left"><em><strong>Junior Counselors </strong></em><strong>(JC)</strong> spend 4 weeks with campers assisting a Summer  Staff with their cabin. They must have sucessfully completed CIT &amp; aCIT sessions and receive a recommendation from either a counselor they served with or the CIT Coordinator to attend.<em><strong><br>
    </strong></em></p>
{%endblock%}
