---
title: Day Camp Resources
keywords: day camp, day camp forms, brochure, graphics
description: Helpful resources for Day Camp Sites. | Mt.  Cross

name: Day Camp Resources
---
{% extends "onePaneBase.j2"%}
{% block MainText %}
<h2> <em>2014 Day Camp Resources</em></h2>
<table width="800" border="0">
  <tr>
    <td width="380"><p><b><a href="/program/summer/day_camp.html">Day Camp Home</a></b></p></td>

   <!--When the information is ready, put back up! <td width="380"><p align="right"><b><a href="/program/summer/day_camp_schedule.html">Summer Schedule 2013 </a></b></p></td> <-->
  </tr>
</table>

<div style="float:left; position:relative; width:325px">
<img style="display:block; margin-right:15px;" src="/images/day_camp/2014_promo_photos/IMG_7959.JPG" border="3"  width="300" height="400" alt="Day Camp" align="left"></div>
<div style="float:right; width:485px">
<p><strong>Registration for new Day Camp congregations or schools will open on October 31, 2013.</strong></p>
<table><tr>
   <td style="padding:0 15px;"><p style="text-align: center"><a href="/Documents/Day camp/2014Daycampplanningguide.pdf"><strong>2014 Planning Guide</strong><br><br>
      <img src="/Documents/Day camp/2014Daycampplanningguide.jpg" border="1" width="200" height="259"></a></p></td>
   <td style="padding: 0 10px;"><p style="text-align: center"><a href="/Documents/Day camp/2014daycampbrochuremtcross.pdf"><strong>2014 Brochure</strong><br><br>
      <img src="/Documents/Day camp/2014daycampbrochuremtcross.jpg" border="1" width="259" height="200"></a></p></td>
</tr></table>
<p>If you are interested in more information, contact <a href= "mailto:daycamp@mtcross.org">Mariel Spengler </a> by email or phone 650-814-8395.</p>

</div>
<div style="display:block; float: left; width:810px">



<!--
<table>
	<tr>
		<td width="380"><p style="text-align:center"><img src="/images/Photos/Day Camp/2 day camp 12.jpg" border="3"  width="480" height="269" alt="Day Camp" longdesc="http://parachute"><br>
		</td>
		<td width="300"><p><strong> Organizations hosting Day Camp<br> will need the following:</strong></p>
<ul class="formatted">
	<li>Day Camp Planning Guide (see below)</li>
    <li><a href="/Documents/Day camp/2013daycampsitecoordinatorguide.pdf">2013 Day Camp Site Coordinator's Guide</a></li>
    <li><a href="/Documents/Day camp/2013daycampregistrationform.pdf"> Camper Registration Form</a></li>
    <li><a href="/Documents/Day camp/2013daycamphealthform.pdf">Health Form</a></li>
    <li><a href="/Documents/Day camp/2013 Day Camp volunteer handbook.pdf">Volunteer Handbook</a></li>
    
</ul>
<br>
<p><strong>Publicity resources for Day Camp:</strong></p>
<ul class="formatted">
	
    <li><a href="/images/day_camp/DayCampflyer12013.jpg">Day Camp Flyer 1</a></li>
    <li><a href="/images/day_camp/DayCampflyer22013.pdf">Day Camp Flyer 2</a></li>
    <li><a href="/Documents/Day camp/2013daycampserviceprojectflyer.pdf">Service Project Flyer</a></li>
	
</ul></td>
	</tr>
</table>

<table><tr><td width="250">  
      <p align="center"><a href="/Documents/Day camp/2013seniordaycampplanningguide.pdf">2013 Senior Day Camp Planning Guide</a><br>
      <a href="/Documents/Day camp/2013seniordaycampplanningguide.pdf"><img src="/images/day_camp/2013seniordaycampplanningguide_Page_1.jpg" alt="senior day camp PG" width="170" height="223" hspace="10" vspace="10"  onClick="window.open('/Documents/Day camp/2013seniordaycampplanningguide.pdf')" style="border:1px solid black"></a></p></td>
                  
     <td width="250"> <p align="center"><a href="/Documents/Day camp/2013Daycampplanningguide.pdf"> 2013 Day Camp Planning Guide</a><br>
     <a href="/Documents/Day camp/2013Daycampplanningguide.pdf"><img src="/images/day_camp/2013 Day Camp planning guide cover.jpg" width="170" height="223" hspace="10" vspace="10"  style="border:1px solid black" onClick="window.open('Documents/Day camp/2013Daycampplanningguide.pdf')"></a></p>
       </td></tr>
       <td width="250"><p align="center"><a href="/Documents/Day camp/2013daycampsitecoordinatorguide.pdf">2013 Site Coordinator's Guide</a><br>
       <a href="/Documents/Day camp/2013daycampsitecoordinatorguide.pdf"><img src="/images/day_camp/2013sitecoordinatorguidecover.jpg" idth="170" height="223" hspace="10" vspace="10"  style="border:1px solid black" onClick="window.open('Documents/Day camp/2013daycampsitecoordinatorguide.pdf')"></a> </table>
-->
      

<br>
<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" />

<h4 align="center"><a href="/program/summer/day_camp.html">Return to  Day Camp</a></h4>
</div>
{%endblock%}
