---
title: Day Camp Resources
keywords: day camp, day camp forms, brochure, graphics
description: Helpful resources for Day Camp Sites. | Mt.  Cross

name: Day Camp Resources
---
{% extends "onePaneBase.j2"%}
{% block MainText %}
<h2> <em>2014 Day Camp Resources</em></h2>
<table width="800" border="0">
  <tr>
    <td width="380"><p><b><a href="/program/summer/day_camp.html">Day Camp Home</a></b></p></td>

   <!--When the information is ready, put back up! <td width="380"><p align="right"><b><a href="/program/summer/day_camp_schedule.html">Summer Schedule 2013 </a></b></p></td> <-->
  </tr>
</table>

<div style="float:left; position:relative; width:325px; height:425px">
<img style="display:block; margin-right:15px;" src="/images/day_camp/2014_promo_photos/IMG_7959.JPG" border="3"  width="300" height="400" alt="Day Camp" align="left"></div>
<div style="float:right; width:485px; height:425px;">
<p><strong>Registration for new Day Camp congregations or schools will open on October 31, 2013.</strong></p>
<table><tr>
   <td style="padding:0 15px;"><p style="text-align: center"><a href="/Documents/Day camp/2014Daycampplanningguide.pdf"><strong>2014 Planning Guide</strong><br><br>
      <img src="/Documents/Day camp/2014Daycampplanningguide.jpg" border="1" width="200" height="259"></a></p></td>
   <td style="padding: 0 5px;"><p style="text-align: center"><a href="/Documents/Day camp/2014daycampbrochuremtcross.pdf"><strong>2014 Brochure</strong><br><br>
      <img src="/Documents/Day camp/2014daycampbrochuremtcross.jpg" border="1" width="259" height="200"></a></p></td>
</tr></table>

</div>
<div style="position:relative; float: left; width:470px">
<br>
<table>
<tr>
   <td style="padding: 0 5px;"><p style="text-align: center"><a href="/Documents/Day camp/2014seniordaycampbrochure.pdf"><strong>2014 Senior Brochure</strong><br><br>
      <img src="/Documents/Day camp/2014seniordaycampbrochure.jpg" border="1" width="259" height="200"></a></p></td>
   <td style="padding:0 5px;"><p style="text-align: center"><a href="/Documents/Day camp/seniordaycampplanningguide2014.pdf"><strong>2014 Senior Planning Guide</strong><br><br>
      <img src="/Documents/Day camp/seniordaycampplanningguide2014.jpg" border="1" width="200" height="259"></a></p></td>
</tr></table>
</div>
<div style="float:right; position:relative; width:325px">
<img style="display: block; margin: 60px 20px;" src="/images/day_camp/sunny2.JPG" border="3"  width="300" height="225" alt="Day Camp" align="left"></div>
<div style="float:left; width:810px">

<br><p>If you are interested in more information, contact <a href= "mailto:daycamp@mtcross.org">Mariel Spengler </a> by email or phone 650-814-8395.</p>

<br>
<hr style="width:50	%; margin-top:0px; margin-bottom:0px;" />

<h4 align="center"><a href="/program/summer/day_camp.html">Return to  Day Camp</a></h4><br>
</div>
{%endblock%}
