---
title: Day Camp
keywords: off-site camp, day camp
description: Bring a taste of summer camp to your church or location with the help of our trained summer staff.

name: Day Camp
---

{% block MainText %}
<h1>Day Camp Ministries</h1>
<p align="left" class="boldh4"><strong><em> We bring camp to you!</em> </strong></p>
<table width="539" border="0">
  <tr>
  <td><br><p class="boldh4"><strong>Congregational Based Day Camps</strong></p></td>
</table>
<p><img src="/images/day_camp/smiles.JPG" alt="day camp" width="210" height="149" hspace="10" vspace="10" border="3" align="left"></p>
<p align="left"><span class="content">Day Camp is a unique partnership between Mt. Cross and your church or school.  Our summer staff come to your congregation for a week of faith-based fun, which includes group games, arts & crafts, worship, community building activities and Bible Encounters based on our summer theme.  For children who have completed Kindergarten through 6th grade, Day Camp is a great way to provide summer programming for the kids at your church while reaching out to your community.</span></p>
<hr style="width:100%; margin-top:0px; margin-bottom:0px;">
          
<p class="boldh4"><strong>Senior Day Camps</strong></p>
<img src="/images/day_camp/Sunny1.JPG" alt="Bible Study" width="256" height="144" hspace="10" vspace="10" border="3" align="left">

<p style="margin-bottom:0px">Camp isn't just for kids!  Senior Day Camp is an exciting, growing program that brings camp to senior citizens, allowing for relationships to develop between our young adult staff and their mature &quot;campers&quot;.</p>
<br>
<p style="font-size:10px;margin-bottom:0px;margin-top:0px">(See the <a href="/program/summer/day_camp_resources.html">Resources page</a> for details.)</p><br>
<br>


<hr style="width:100%; margin-top:0px; margin-bottom:0px;">

<img src="/images/Photos/Staff - Year Round/2012 Mariel.JPG" alt="mariel" width="65" height="99" border="1" hspace="10" vspace="0" align="right" longdesc="/about/staff/mariel.html"><br>
<p>Day Camp information for 2014 will be available by October 1, 2013.  Registration for new Day Camp congregations or schools will open on October 28, 2013.</p>
<p>For more information, contact <a href="/about/staff/mariel.html">Mariel Spengler</a>, Director of Day Camp Ministries, at 650-814-8395 or <a href="mailto:daycamp@mtcross.org">daycamp@mtcross.org</a>.</p>
  
  <br><p><strong> <a href="/program/summer/day_camp_resources.html">Click here for Day Camp Resources</a><br></strong></p>
{%endblock%}



{% block SidebarTitle %}2012 Day Camps<br>What fun!{%endblock%}
{% block SidebarText %}
  <img src="/images/Photos/Day Camp/100_1172.JPG" name="Day Camp" width="198" height="146" vspace="1" hspace="1" border="3">

<img src="/images/day_camp/sunny2.JPG" vspace="1" hspace="1" width="198" height="154" border="3">

<img src="/images/day_camp/fieldgames.JPG" vspace="1" hspace="1" width="199" height="152" border="3">

<img src="/images/day_camp/IMG_1545.jpg" vspace="1" hspace="1" width="198" height="140" border="3">

{%endblock%}
