---
title: Day Camp Schedule
keywords: day camp calendar
description: View the calendar of Day Camp events to either schedule a time or find one near you.

name: Day Camp Schedule
---

{% block MainText %}
<h1>2014 Day Camp Schedule</h1>
<table width="538" border="0">
  <tr>
    <td width="262"><p><b><a href="/program/summer/day_camp.html">Day Camp Information</a></b></p></td>
    <td width="266"><p align="right"><b><a href="/program/summer/day_camp_resources.html">Day Camp Resources</a></b></p></td>
  </tr>
</table>

<br><a name="Mariel"></a><p><img src="/images/Photos/Staff - Year Round/2012 Mariel.JPG" alt="mariel" width="54" height="79" hspace="10" vspace="0" align="right" longdesc="/about/staff/mariel.html">Contact <a href="/about/staff/mariel.html">Mariel Spengler</a>, Director of Day Camp Ministries, at 650-814-8395 or <a href="mailto:daycamp@mtcross.org">daycamp@mtcross.org</a> for more information or to sign up to host a week of Day Camp.</p><br>

<hr style="width:100%; margin-top:20px; margin-bottom:20px;" />

<p>The 2014 Day Camp Schedule will be updated and added as congregations register!</p>


<br>
{%endblock%}



{% block SidebarTitle %}Sample  Camp Schedule{%endblock%}
{% block SidebarText %}
    <p align="left">8:00am Check-In<br>
    9:00am Opening<br>
    Day Camp Activities
    <br>
    12:00pm Lunch<br>
      (Children bring or <br>
      congregation provides)<br>
      1:00pm Day Camp Activities<br>
      4:00pm Closing</p>
<p align="left">~~~~~~~~</p>
<p align="left"><a href="/Documents/Day camp/daycampbrochure2013.pdf">Day Camp Brochure (pdf)</a></p>
<p align="left"><em>&quot;Day Camp is the most fun week at our church.  Not only does it make for a wonderful outreach opportunity to the wider community, but hearing all the kids sing, pray, laugh and sharing stories of faith around the church campus is simply the best!&quot;<strong> - Pastor Christian Jennert, Holy Trinity Lutheran Church, San Carlos</strong></em></p>
{%endblock%}