---
title: Explorers
keywords: children, first camp, camp
description: Ages 6-8 get their first taste of camp.  A weekend camp with activities like swimming, crafts and singing camp songs.

name: Explorers
---

{% block MainText %}

{{ macros.render_camp_info() }}

{% filter markdown %}
This program is specially designed to gently introduce younger campers to all the fun and excitement of Summer Camp. Explorers will be introduced and guided through camp activities such as hiking, swimming, arts and crafts, Bible encounter, morning worship and evening Campfires. Young campers will love this program!

**Limit 20 campers per session.**

{%endfilter%}


{% include "socialShare.j2" %}

<h4 align="center"><a href="/program/summer/summer_camp.html#SummerSchedule">Return to Summer Schedule</a></h4>
{%endblock%}



{% block SidebarTitle %}Sample Daily Schedule{%endblock%}
{% block SidebarText %}
<img src="/images/Photos/Bikes/2012 smile.JPG" width="213" height="147" border="3" alt="bikes">
{%endblock%}