---
extends: base.j2
title: Summer Camp Home
keywords: youth, child, kids, children, camp, all ages
description: Overview of the different summer camps available to all ages offered at Mt. Cross.
---
{% block HTMLheadExtended %}<link rel="stylesheet" href="/CSS/summer_table.css" type="text/css" media="screen">{%endblock%}
{% block mainContainerContents %}

<div class="specfloat">
<div class="specfloatinterior">
<h1>Summer Camp</h1>
<table width="100%"><tr>
   <td><p style="font-size:20px; margin-bottom:3px"><b>Summer Theme: {{summer.info.theme}}</b></p>
      {% if summer.info.verse %}
      <p><b><i>{{summer.info.verse}}</i></b></p>
      {% endif %}
   </td><td align="center">
      <p><b><i><a href='#SummerSchedule'>View Full Summer Schedule</a></i></b><br>
      {{register_button}}</p>
   </td>
</tr></table>

<!-- summer theme and links -->

{{macros.create_summer_grid()}}

<ul id="summer_grid">
{% for a in summer.ages %}
   {%for c in summer.camp_names %}
      {% if c.info.grade.g == a.grades.g %}

         <li><p><img width="100px" height="100px"><br> {{c.info.name}} <br> entering {{c.info.grade.text}} grades</p></li>

      {%endif%}
   {% endfor %}
{% endfor %}

</ul>

<br>
<hr style="width:100%; margin-top:0px; margin-bottom:0px;" />

<h2 align="center"><a name="SummerSchedule">{{current_year}} Summer Schedule</a><br></h2>
<p align="center"><strong>Youth are categorized by the grade they will enter Fall {{current_year}}.</strong></p>

{{macros.create_summer_calendar()}}


</div> <!-- closes specfloatinterior -->
</div> <!-- closes specfloat -->

{% endblock %} {# closes mainContainerContents #}