---
title: Trailblazers
keywords: high school, youth, on-site, camp
description: High school youth form a community that explores the Bible while enjoying activities like the ropes course and swimming
---

{% block MainText %}

{{ macros.render_camp_info() }}

{% filter markdown %}
This program is designed for new and returning campers who are ready to take their camp experience to the next level. Trailblazers will enjoy dynamic programming full of new experiences such as low ropes, high ropes, night swims, a day at the beach and other special activities.

{%endfilter%}
<br>

{% include "socialShare.j2" %}

<h4 align="center"><a href="/program/summer/summer_camp.html#SummerSchedule">Return to Summer Schedule</a></h4>
{%endblock%}



{% block SidebarTitle %}Sample Daily Schedule{%endblock%}
{% block SidebarText %}
{% filter markdown %}
**Sunday**  
Arrive & Check-in  

**Monday**  
Challenge Course Programming  
Activity choices  

**Tuesday**
Theme day events  

**Wednesday**  
Beach day  
Cookout dinner  
Prayer Around the Cross  

**Thursday**  
High Ropes  

**Friday**  
Clean up & Depart
{%endfilter%}
{%endblock%}