---
title: Tree Toppers
keywords: youth, camp, week long
description: Camp for ages 8-13 with many opportunities to swim, hike, learn archery and study the Bible. Tree Topper campers also have the ability to cook out several of their meals!

---

{% block MainText %}

{# macro copied and edited #}
{% for camp in summer.camp_names %}
{%if (camp.info.name == resource.meta.name) or (camp.info.name == resource.meta.title) %}

<table width="537" border="0">
  <tr>
    <td width="375"><h1>{{camp.info.name}}</h1></td>
    <td width="152" align="right">
       <button onClick=
    "window.open('{{online_reg}}')">
    Register Online Now</button> 
    
    </td>
  </tr>
</table>

{% filter markdown %}
**_Youth Grades 4th-6th and one 7th-9th week_**
{%endfilter%}

{% include "galleryInsert.j2" %}

{% filter markdown %}
{%for d_w in summer.dates %}
{%for no, week in camp.info.weeks %}
{% if d_w.week.index == week.index %}
{% for p_no, price in camp.info.prices %}
{% if no == p_no %}
**_{{camp.info.name}}  {{no}} {%if no == "4" %}*(grades 7-9){%else%}(grades 4-6){%endif%}: {{week.date}} - {{price}}_**  
{%endif%}
{%endfor%}
{%endif%}
{%endfor%}
{%endfor%}
{%endfilter%}


{%endif%}
{%endfor%} {# ends for camp in summer.camp_names #}

{# end of modified macro #}


{% filter markdown %}
Sleep under the stars in our tree houses, learn how to cook your meals over a campfire and enjoy a unique camp experience. Our older Tree Toppers will enjoy adding high ropes to their experience.

**Limit 20 campers per session.**

Stay two weeks using [Connections][connectionsLink] options (or use Connections for a Saturday or Sunday pickup time.)


[connectionsLink]: /program/summer/connections.html
{%endfilter%}
<p>**No additional discounts apply to week 1.</p>

{% include "socialShare.j2" %}

<h4 align="center"><a href="/program/summer/summer_camp.html#SummerSchedule">Return to Summer Schedule</a></h4>
{%endblock%}



{% block SidebarTitle %}Sample Daily Schedule{%endblock%}
{% block SidebarText %}
<div align="left">
{% filter markdown %}
8:00am Wake up  
8:30am Breakfast  
9:45am Camp Clean-up  
10:00am Opening  
10:15am Activities/Bible Encounter  
12:30pm Lunch  
1:15pm FOB (Rest time)  
1:45pm Activities  
3:30pm [Trading Post][tradingpostLink]  
Continue Activities  
6:00pm Campfire Cookout*  
7:15pm All-Camp Activity  
8:15pm Trading Post  
8:45pm Campfire Devotions  
9:00pm Showers and Cabin Time  
10:00pm Lights Out

*Tree Top campers cookout one meal a day.

[tradingpostLink]: /about/tradingpost.html
{%endfilter%}
</div>
{%endblock%}