/*** CSS Document ***/
body {margin:0px; padding:0px; background-image:url(/images/mtcross_bgsquare.jpg); width:100%;}
h1 {margin-top:16px; margin-bottom:0px; font-family:Arial, Helvetica, sans-serif; font-size:36px; font-weight:100;}
h3.whiteHeader3 {font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; margin-left:15px; padding-top:8px; padding-bottom:8px; margin-top:0px; margin-bottom:0px;}
.boldh4 {margin-top:0px; margin-bottom:0px; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-top:0px;
	margin-bottom:15px;
	color:#383838;
}
p.subhr {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:20px; margin-bottom:15px;}
p.subhr2 {font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#383838; margin-top:0px; margin-bottom:5px;}
p.events { margin-top:0px; padding-top:8px; margin-left:11px; margin-right:6px; font-weight:bold; font-size:14px;}
p.foot {text-align:center; color:white; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px; margin-bottom:10px;}

div.mainContainer {position:relative; top:30px; width:900px; margin-right:auto; margin-left:auto; border:1px solid #000000; background-color:#FFFFFF;}
div.headerbk1 {
	position:relative;
	border:0px;
	padding:0px;
	width:900px;
	height:126px;
	overflow: hidden;
	background-image: url(/images/4final%20header.jpg);
}
div.headerbk2 {position:relative; background-image:url(/images/headerpt_2.jpg); border:0px; padding:0px; width:900px; height:35px;}

div.floatLeft {float:left; width:611px; margin-bottom:20px;}
div.leftInterior {
	position:relative;
	margin-left:48px;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
}
div.floatRight {float:right; width:287px; font-family:Arial, Helvetica, sans-serif;}
div.rightInterior {width:245px; margin-top:0px; margin-bottom:20px;}
div.eventsContainer { width:92%; padding:10px; background-color:#E2E5DA; color:black; height:auto;}

div.pageFooter {float:left; width:900px; height:63px; border:0px; background-color:#7d231a;}
div.footerLinks {position:relative; float:none; width:575px; margin-left:auto; padding:0px; margin-top:35px; margin-bottom:0px; margin-right:auto; height:auto;}


/******************
	user added BY KELSEY
******************/

/* specfloat & specfloatinterior allow for a 1 panel page that is centered (not on the right or left)*/
div.specfloat{float:center; width:830px ; margin-bottom:20px;}
div.specfloatinterior{position:relative;margin-left:45px; width:810px; font-family: Arial, Helvetica, sans-serif;}

/* used in alumni sub menus  - DO NOT CHANGE */
#sddm{margin: 0;	padding: 0;	z-index: 30}
#sddm li{margin: 0;	padding: 0;	list-style: none;	float: left;	font: bold 14px arial}
#sddm li a{display: block;	margin: 0 1px 0 0;	padding: 4px 11px;	width: 80px;/* width of link box */ background: #FFF;/* main blue background */ color: #AA0000;/* main text color */ text-align: center;text-decoration: none;}
#sddm li a:hover{	background: #AA0000;/* main rollover background */ color: #FFF}/*main rollover text color */
#sddm div{	position: absolute;	visibility: hidden;	margin: 0;	padding: 0;	background: #EAEBD8;/* ?? */ border: 1px solid #AA0000}/* table border around drop dwn section  */
	#sddm div a	{position: relative; display: block; margin: 0;	padding: 5px 10px; width: 80px;	white-space: nowrap; text-align: center; text-decoration: none; background: #EAEBD8;/* background of dropdown */	color: #AA0000;/* text color of dropdown */ font: 13px arial}
	#sddm div a:hover {	background: #AA0000;/* background on rollover of dropdown */ color: #FFF}/* text color on rollover of dropdown */

/* unordered list to match the font types that are our site defaults */
ul.formatted {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:0px; margin-bottom:3px; margin-left:20px; padding-left:.2em;}
ul.formatted li {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:0px; margin-bottom:7px; margin-left:20px; padding-left:.1em;}
ul.formatted ul {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:0px; margin-bottom:5px; margin-left:15px; padding-left:.1em;}

/* unordered list to match the font types of our site, with little to no gaps between the list items */
ul.formatted2 {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:0px; margin-bottom:3px; margin-left:20px; padding-left:.2em;}
ul.formatted2 li {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:0px; margin-bottom:px; margin-left:20px; padding-left:.1em;}
ul.formatted2 ul {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#383838; margin-top:0px; margin-bottom:5px; margin-left:15px; padding-left:.1em;}

.center{
	margin-right:auto;
	margin-left: auto;
	display: block;
	text-align:center;
}

/******************
	user added classes & styles
	POST KELSEY
******************/
.blue {
	color: #00F;
}
.red { color: red; }